.back{
top: 0; left: 0; bottom: 0; right: 0;
width: 100%;
height:100%;
position: fixed;
z-index: -1;
background: #cfe7fa; /* Old browsers */
background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* IE10+ */
background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
}

html, body {
    width: 100%;
	height:100%;
    padding: 0;
    margin: 0;
	text-align:center;
	font-size: 5vw;
	
	
}
.login{    
    width: 100%;
	height:100%;
	}
.analyse{
	display:none;
    width: 100%;
	height:100%;
	}
#vklogo, #fblogo{width:50%;}
.table_one{
width: 100%;
border: 1px dotted black;
border-width: thick;
display:none;
}
#users{
display:none;
width: 100%;
border: 1px dotted black;
border-width: thick;
}
#restore{
display:none;
width: 100%;
}
input[type=date]{
width: 50%;
}
input[type=time]{
width: 40%;
}
input[type=time],input[type=date]{
    margin-bottom: 15px;
 
    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.2),
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
 
    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 1em;
}
button{
background:#5d80a6;color:#fff;
padding-left: 10%;
padding-right: 10%;
padding-top: 2%;
padding-bottom: 2%;
margin-bottom: 15px;
font-size: 5vw;
}
.info_button{
display: table;
position:fixed;
right:10px;
top:10px;
    border-radius: 1000px; /* Радиус скругления */
    border: 3px solid grey; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
	opacity:0.5;
}
.info_button a{
width: 1.2em;
height:1.2em;
display: table-cell;
vertical-align: middle;
text-decoration: none;
color:grey !important;
font-size: 2.5em;
}
#restore_button{
visibility: hidden;
}
#delete_restore_button{
visibility: hidden;
}
#graf{
width: 100%;
height:50%;
}

.msg_to_you , .your_msg{
clear:left;
}
.msg_to_you div, .your_msg div{
  margin: 2%;
  float:left;
}
.arrow_box {
width:50%;
  border-radius:0.2em;
   position: relative;
   padding:0.3em;
-webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.86);
-moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.86);
box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.86);
}
.arrow_box:after {
   border: solid transparent;
   content: " ";
   position: absolute;
   pointer-events: none;
   border-width: 0.5em;
   top: 5%;
}
.msg_to_you .arrow_box {
   background: white;
}
.msg_to_you .arrow_box:after {
   right: 99%;
   border-right-color: white;
}
.your_msg .arrow_box {
   background: #B0E0E6;
}
.your_msg .arrow_box:after {
   left: 99%;
   border-left-color: #B0E0E6;
}
.restore_time{
color:#999;
}